*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 100vh;
}
.slider-container{
    width: 60%;
    max-width: 500px;
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;

}
.slider{
    display: flex;
    gap: 10px;
}
.card{
    min-width: 150px;
    height: 200px;
    background-color: aquamarine;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}